.form-container{
    background-color: rgb(222,184,135);
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem ;
    // border: 2px solid  black ;
    // width: 50%;
    background-color: rgb(222,184,135);
    .flex{
        flex-direction: column;
        justify-content: space-around;
        padding: 1rem 0;
    }
    // text-align: center;
}
.remarks{
    background-color: rgb(240,230,140);

}
.remark{
    padding: 1rem;
    // margin: 1rem 0;
    border-bottom: 2px solid black;

}
.remark-btn-container{
    display: flex;
    flex-direction: row;
    .btn{
        background-color:rgb(222,184,135) ;
    }
}