*{
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 1.5;
};

.container{
    max-width: 1150px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

a,button {
    cursor: pointer;
}
.grid {
    display: grid;
}
.btn {
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    border: 0;
    font-weight: 700;
    background-color: khaki;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:rgba($color: #555252, $alpha: .5) ;
}