    <footer class="footer">
        <div class="footer-content">
            <div class="nav">
                <a href="/events/new">
                    <button class="btn">New Event</button>
                </a>
                <a href="/events">
                    <button class="btn">Events</button>
                </a>
            </div>
            <span>&copy : EventGallery | 2021</span>
        </div>
    </footer>
</body>
</html>